##
# {{ ansible_managed }}
##

server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root /var/run/acme/acme-challenge;

  include acme-challenge;

  location / {
    return 301 https://$host$request_uri;
  }
}
