##
# {{ ansible_managed }}
##

server {
  listen 80;
  listen [::]:80;
  server_name {{ item }};

  root /var/run/acme/acme-challenge;

  include acme-challenge;

  location / {
    return 301 https://$host$request_uri;
  }
}
